body {
    margin: 0;
}
.padre {
    display: flex;
    background-color: rgb(23, 169, 206);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.padre main {
    border-radius: 15px;
    width: 350px;
    height: 420px;
    background-color: white;
    

}