head {
    display: block;
}
body {
    margin: 0;
}
.padre {
    display: flex;
    background-color: rgb(23, 169, 206);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.padre main {
    position: relative;
    border-radius: 15px;
    width: 350px;
    height: 420px;
    background-color: white;
    
}

.attribution {
    text-align: center;
    
}

.fondo {
    height: 250vh;
    width: -25vw;
    opacity: 75%;
    size: 50%;
    
}